.glow-button {
  --offset:1px;
  position: relative;
  padding: 12px 40px;
  font-size: 16px;
  background-color: rgb(26, 30, 31);
  border:1px solid #858992;
  cursor: pointer;
  border-radius: 50px;
  width: 300px;
  max-width: 100%;
  overflow: hidden;
}


.glow-button::before {
  background-color: #858992;
  content: "";
  position: absolute;
  background: conic-gradient(transparent 300deg, #858992, transparent);
  border-radius:50%;
  top:50%;
  left: 50%;
  transform: translate(50%,50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}
.glow-button::after {
  content: "";
  position: absolute;
  background: inherit;
  inset: var(--offset);
  height: calc(10% -2 * var(--offset));
  width:calc(10% -2 * var(--offset));
  border-radius: inherit;

}

@keyframes rotate {
  from{
    transform: translate(-50%,-50%) scale(2) rotate(0turn);
  }
  to {
    transform: translate(-50%,-50%) scale(2) rotate(1turn);
  }
}
