@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Adjust this percentage depending on your content width */
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 8s linear infinite;
}
